 <!DOCTYPE html>
<html lang="en">
<head>
  <title>PostIt - Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="style.css" />
     <link rel="stylesheet" type="text/css" href="style2.css" />
</head>
  <body>
      
     <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">PostIt</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
    
      </ul>
    </div>
  </div>
</nav>
        <div class="container">
            <!-- Codrops top bar -->
            
            <header style="color:; font-weight: 400; font-size: 55px;">
                <h1 >PostIt Login Form</h1>

            </header>
            
                    <div class="row">
          <div class="col-lg-12">
            <h1> <small></small></h1>
            <ol class="breadcrumb">
              <li><a href="index.html"></a></li>
              <li class="active"></li>
            </ol>
          </div>
        </div><!-- /.row -->
            
            <section>			
                 <div class="container">
                <div id="container_demo" >
				
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="#" autocomplete="on"> 
                                <h1>Login</h1> 
                                <p> 
                                    <label for="username" class="uname" > Email or Username </label>
                                    <input id="username" name="username" required="required" type="text" placeholder=""/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd"> Password </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="" /> 
                                </p>
                                <p class="login button"> 
                                    <input type="submit" value="Login" /> 
								</p>
                                <p class="change_link">
									Not a member yet ?
									<a href="#toregister" class="to_register">Sign Up</a>
								</p>
                            </form>
                        </div>


                    </div>
                </div>  
                </div>  
            </section>
            
            
        </div>
      
      <footer class="container-fluid text-center">
  <p>copyright 2017</p>
</footer>
      
    </body>
</html>